<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pizzeria de confianza</title>

    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/resolucion.css">
    <link rel="icon" type="image/ico" href="https://cdn-icons-png.flaticon.com/512/1404/1404945.png">
</head>
<body>
    
    <div class="resolucion"></div>
    <div class="desktop">


        <header class="header">
  <div class="logo">
     <img src="https://cdn-icons-png.flaticon.com/512/1404/1404945.png" alt="logo">
  </div>

  <nav class="menu">
    <a href="#">Inicio</a>
    <a href="#">Servicios</a>
    <a href="#">Contacto</a>
    <a href="#">Inicia sesión</a>
  </nav>
</header>


    <div class="fondo"></div>
        <div class="contenido">
    {{{body}}}
     </div>

    <footer class="footer">

    
       <img class="logofooter" src="https://cdn-icons-png.flaticon.com/512/1404/1404945.png">
    <div class="footertexto">
            <div class="footertitle">
        Desarrollado para la gente que ama la pizza 🍕
</div>
    <p>Grupo 4 desarrollado con Redis.</p>
        <p>2026</p>
    </div>
</footer>

<script src="/js/main.js" defer></script>
</div>
</body>

</html>