<h1>
    Bienvenido {{usuario}}
</h1>

  <h1>Dashboard</h1>

  <div class="dashboard">

    <div class="card">
    <a href="/dashboard/pedidos">
      <h2>📦 Pedidos</h2>
      <p>Gestión de pedidos realizados y su estado.</p>
    </a>
  </div>

  <div class="card">
    <a href="/dashboard/clientes">
      <h2>👤 Clientes</h2>
      <p>Registro y administración de clientes.</p>
    </a>
  </div>

  <div class="card">
    <a href="/dashboard/productos">
      <h2>🛒 Productos</h2>
      <p>Control de inventario y catálogo de productos.</p>
    </a>
  </div>

  <div class="card">
    <a href="/dashboard/empleados">
      <h2>👨‍💼 Empleados</h2>
      <p>Gestión del personal y roles del sistema.</p>
    </a>
  </div>

  <div class="card">
    <a href="/dashboard/categorias">
      <h2>📁 Categorías</h2>
      <p>Organización de productos por categorías.</p>
    </a>
  </div>


</div>