<h1>
    Bienvenido {{usuario}}
</h1>

<div class="dashboard">

    <a href="/dashboard/pedidos">
        Pedidos
    </a>

    <a href="/dashboard/clientes">
        Clientes
    </a>

    <a href="/dashboard/productos">
        Productos
    </a>

    <a href="/dashboard/empleados">
        Empleados
    </a>

    <a href="/dashboard/categorias">
        Categorias
    </a>

</div>