<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- AQUÍ ESTABA EL ERROR -->

  <link rel="stylesheet" href="/styles/styles.css">

    <title>Pizzeria</title>
</head>

<body>
<div class="contenido">
<div class="caja">
    <h1>Pizzeria de confianza</h1>


    <p>
    <subtitle>
        La mejor pizza artesanal de la ciudad es tu mejor decisión.
    </subtitle>
    </p>

    <button>Pide ahora ;)</button>

    <p>
    <subtitle>
        Nuestros sabores:
    </subtitle>
    </p>
</div>
    </div>
</body>
</html>