<div class="registro-container">



    <form action="/login" method="POST" class="registro-form">

    <h1>Iniciar sesión</h1>

    {{#if error}}
      <p style="color:red;">{{error}}</p>
    {{/if}}
    
        <input 
          type="text" 
          name="id_empleado"
          placeholder="Usuario"
          required
        >

        <input 
          type="password" 
          name="password"
          placeholder="Contraseña"
          required
        >

        <button type="submit">
          Iniciar sesión
        </button>

    </form>

</div>